.container{
    margin-bottom: 100px;
}

.categories h1{
    color: white;
}
.categories{
    width: 100px;

}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: #FF136F;
}
.cat3{
    background-color: rgb(40, 36, 230);
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}
